<div class="profile-page">
    <div class="profile-settings-container">
        <form class="profile-form" [formGroup]="editForm">

            <label for="nombreusuario">Nombre de usuario:</label>
          <input type="text" id="nombreusuario" formControlName="username" name="nombreusuario" placeholder="Ingrese su nuevo nombre de usuario" />
          <div *ngIf="username?.invalid && (username?.dirty || username?.touched)" class="text-danger">
            <div *ngIf="username?.errors?.['required']">
              El nombre de usuario es requerido
            </div>
          </div>
            <label for="linkportafolio">Link de Portafolio:</label>
            <input formControlName = "portfolio" type="text" id="linkportafolio" name="linkportafolio" placeholder="Actualize o ingrese nuevo link de Portafolio" />
            <div *ngIf="portfolio?.invalid && (portfolio?.dirty || portfolio?.touched)" class="text-danger">
              <div *ngIf="portfolio?.errors?.['required']">
                El portfolio es requerido
              </div>
            </div>

            <label for="tarifa">Tarifa:</label>
            <input type="number" 
            formControlName= "paymentRate"
            id="tarifa"
            name="tarifa"
            placeholder="Actualize su nueva Tarifa"
            min="0"
            (keypress)="validateNumberInput($event)"/>
            <div *ngIf="paymentRate?.invalid && (paymentRate?.dirty || paymentRate?.touched)" class="text-danger">
              <div *ngIf="paymentRate?.errors?.['required']">
                La tarifa es requerida
              </div>
              <div *ngIf="paymentRate?.errors?.['min']">
                La tarifa debe ser mayor a 0
              </div>
            </div>

      
          <label for="email">Correo:</label>
          <input type="email" formControlName="email" id="email" name="email" placeholder="Ingrese su correo electrónico" />
          <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="text-danger">
            <div *ngIf="email?.errors?.['required']">
              <p class="text-danger">El email es requerido</p>
            </div>
            <div *ngIf="email?.errors?.['email']">
              <p class="text-danger">Formato invalido</p>
            </div>
          </div>
      
          <label for="password">Contraseña:</label>
          <!-- El botón que redirige a la interfaz de cambiar contraseña -->
            <div class="password-section">
             <input formControlName="password" type="password" id="password" name="password" placeholder="********" />
             <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="text-danger">
              <div *ngIf="password?.errors?.['required']">
                La contraseña es requerida
              </div>
              <div *ngIf="password?.errors?.['minlength']">
                El tamaño mínimo es de 8 caracteres
              </div>
            </div>
            </div>
          <!-- Botones de Guardar y Cancelar -->
          <div class="form-buttons">
            <button type="button" class="cancel-btn" (click)="cancel()">Cancelar</button>
            <button type="button" class="save-btn" (click)="save()">Guardar</button>
          </div>
        </form>
      </div>
    </div>

    <div *ngIf="isVerificationModalOpen" class="modal">
      <div class="modal-content">
        <h3>Verificación de Correo Electrónico</h3>
        <p>Ingresa el código enviado a tu nuevo correo:</p>
        <form [formGroup]="verifyCodeForm">
          <input formControlName="code" type="text" placeholder="Código de verificación" />
        </form>
        <div *ngIf="editForm.get('code')?.hasError('required')">
          <div *ngIf="editForm.get('code')?.hasError('required')">
              <p class="text-danger">El código es requerido</p>
          </div>
        </div>
        <button (click)="verifyCode()">Verificar</button>
        <button (click)="closeModal()">Cancelar</button>
      </div>
    </div>