<div class="freelancer-section-container">
  <!-- Header -->
  <header class="navbar">
    <div class="logo">
    </div>
    <div class="search-bar">
      <input type="text" placeholder="Buscar Freelancers" />
    </div>
  </header>

  <div class="main-content">
    <aside class="filter-sidebar">
      <h3>Filtrar por:</h3>
      <div class="filter-category">
        <h4>Habilidades</h4>
        <ul>
          <li *ngFor="let item of items">
            <input type="checkbox" [(ngModel)]="item.selected" /> {{ item.name }}
          </li>
        </ul>
      </div>
      <button class="apply-filters-btn" (click)="applyFilters()">Aplicar Filtros</button>
      </aside>

  <!-- Main Content -->
  <div class="main-content">
    <section class="freelancer-listing">
      <h2>Busque Freelancers indicados para su proyecto</h2>
      <p>¿Buscas freelancers de primer nivel? Coderlink te los proporciona</p>

      <!-- Freelancer Cards -->
      <div class="freelancer-list">
        <div class="freelancer-card" *ngFor="let freelancer of freelancers">
          <div class="freelancer-img">
            <img src="icons/desarrollador2.png" alt="Freelancer Profile" />
          </div>
          <div>
            <div class="freelancer-info">
              <h3>{{ freelancer.names }} {{freelancer.lastNames}}</h3>
              <p>{{ freelancer.workExperience }}</p>
              <p class="price">${{ freelancer.paymentRate }}/h</p>
              <button class="view-profile-btn" (click)="viewProfile(freelancer)">Ver Perfil</button>
              <button class="favorite-btn" [ngClass]="{ 'favorited': isFavorite(freelancer) }" (click)="toggleFavorite(freelancer)">❤</button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>