<div class="project-section-container">
  <header class="navbar">
    <div class="logo">
    </div>
    <div class="search-bar">
      <input type="text" placeholder="Buscar trabajos..."  [(ngModel)]="projectName"/>
      <button (click)="search()">Buscar</button>
    </div>
  </header>


  <div class="main-content">
    <section class="jobs-listing" *ngIf="!loading; else loadingTemplate">
      <div class="job-card" *ngFor="let project of projects">
        <h3>{{ project.name }}</h3>
        <p>{{ project.description }}</p>
        <div class="job-details">
          <span>Categoría: {{ project.category }}</span>
          <br>
          <span>Calificación: {{ project.qualification }}</span>
          <span>Presupuesto: $ {{project.budget}}</span>
        </div>
        <button 
        *ngIf="username.role === '[ROLE_DEVELOPER]'" 
        (click)="postulation(project.id)" 
        [disabled]="postulado(project)">
        {{ postulado(project) ? 'Ya estás postulado' : 'Postularse' }}
      </button>
      </div>
    </section>

    <ng-template #loadingTemplate>
      <p>Cargando proyectos...</p>
    </ng-template>
  </div>
</div>