<div class="change-password-container">
  <!-- Botón de regresar -->
  <button class="back-btn" (click)="goBack()">⬅ Regresar</button>
  <h2>Cambiar Contraseña</h2>
  <p>Elige una contraseña segura y no vuelvas a usarla para otras cuentas.</p>
  <p>La contraseña debe tener al menos 6 caracteres e incluir una combinación de números y letras.</p>

  <form (ngSubmit)="resetPass()" [formGroup]="resetPassForm">
    <!-- Contraseña nueva -->
    <label for="newPassword">Contraseña Nueva:</label>
    <input formControlName = "password" type="password" id="newPassword" name="newPassword" required minlength="6">
    <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="text-danger">
      <div *ngIf="password?.errors?.['required']">
        La contraseña es requerida
      </div>
      <div *ngIf="password?.errors?.['minlength']">
        El tamaño mínimo es de 8 caracteres
      </div>
    </div>
    <!-- Confirmar nueva contraseña -->
    <label for="confirmPassword">Repetir Contraseña Nueva:</label>
    <input formControlName = "passwordR" type="password" id="confirmPassword" name="confirmPassword" required>
    <div *ngIf="passwordR?.invalid && (passwordR?.dirty || passwordR?.touched)" class="text-danger">
      <div *ngIf="passwordR?.errors?.['required']">
        La contraseña es requerida
      </div>
      <div *ngIf="passwordR?.errors?.['minlength']">
        El tamaño mínimo es de 8 caracteres
      </div>
    </div> 
    <!-- Botón para enviar el formulario -->
     <p *ngIf='formError != ""' class="text-danger">{{formError}}</p>
    <button type="submit" class="submit-btn">Cambiar Contraseña</button>
  </form>

