<div class="profile-container">
  <div class="back-home-container">
    <button class="back-home-btn" (click)="goToHome()">⬅ Regresar a la Página Principal</button>
  </div>
    <div class="profile-header">
      <div class="profile-image">
        <!-- Imagen de perfil -->
        <img src="icons/desarrollador2.png" alt="Imagen de perfil" />
      </div>
      <div class="profile-info">
        <h2>{{developer?.names}} {{developer?.lastNames}}</h2>
        <p class="small-description">{{developer?.workExperience}} </p>
        <div class="rating">
          <span>⭐ 5.6 (10)</span>
          <span class="hourly-rate">Mi tarifa es de $ {{developer?.paymentRate}}/h</span>
        </div>
        <button class="edit-btn" (click)="editarperfil()">Editar Perfil</button>
        <button class="contact-btn" (click)="verproyecto()">Ver Proyectos</button>

      </div>
    </div>
  
    <div class="portfolio">
      <h3>Portafolio</h3>
      <div class="portfolio-link">
        <!-- Mostrar el enlace del portafolio o un mensaje si no está disponible -->
        <a *ngIf="developer?.portfolio; else noPortfolio" [href]="developer?.portfolio" target="_blank" rel="noopener noreferrer">
          {{ developer?.portfolio }}
        </a>
        <ng-template #noPortfolio>
          <p>No se ha añadido un portafolio aún.</p>
        </ng-template>
      </div>
    </div>
  
    <div class="skills">
      <h3>Habilidades</h3>
      <div class="tags">
        <div *ngFor="let skill of developer?.skills">
          <span class="tag">{{skill.name}}</span>
        </div>
      </div>
      <ng-template #noSkills>
        <p>No se han añadido las skills aún.</p>
      </ng-template>
    </div>
  </div>
  