/* Contenedor principal */
:host {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #6fa1a4, rgb(28, 157, 148)); /* Fondo similar al login */
  font-family: Arial, sans-serif;
  }

.transfer-container {
    background-color: white; /* Fondo celeste */
    padding: 40px;
    border-radius: 10px;
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    color: black;
    font-family: 'Arial', sans-serif;
  }
  
  /* Título principal */
  .transfer-container h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  /* Texto adicional */
  .transfer-container p {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
  
  /* Botón de transferencia */
  .transfer-button {
    background-color: #28a745; /* Verde */
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .transfer-button:hover {
    background-color: #218838;
  }
  