<div class="hire-developer-container">
    <!-- Botón de regresar -->
    <button class="back-btn" (click)="goBack()">⬅ Regresar</button>

<div class="hire-developer">
    <h2>Contratar Desarrollador</h2>
  
    <form [formGroup]="hireForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="developerId">Seleccionar Desarrollador:</label>
        <input type="text" [value]="postulation?.devName" disabled>
        <div *ngIf="hireForm.get('developerId')?.invalid && hireForm.get('developerId')?.touched">
          <small class="error">Debe seleccionar un desarrollador.</small>
        </div>
      </div>
  
      <div>
        <label for="projectId">ID del Proyecto:</label>
        <input type="text" id="projectId" formControlName="projectId" placeholder="Ingrese el ID del proyecto" />
        <div *ngIf="hireForm.get('projectId')?.invalid && hireForm.get('projectId')?.touched">
          <small class="error">El ID del proyecto es requerido.</small>
        </div>
      </div>
  
      <div>
        <label for="paymentRate">Tarifa de Pago:</label>
        <input type="number" id="paymentRate" formControlName="paymentRate" placeholder="Ingrese la tarifa de pago" />
        <div *ngIf="hireForm.get('paymentRate')?.invalid && hireForm.get('paymentRate')?.touched">
          <small class="error">La tarifa de pago es requerida.</small>
        </div>
      </div>
  
      <button type="submit" [disabled]="hireForm.invalid">Contratar Desarrollador</button>
    </form>
  </div>
</div>